# vim: syntax=yaml
---
Checks: '
        bugprone-*,
        google-*,
        misc-*,
        modernize-*,
        performance-*,
        portability-*,
        readability-*,
        -google-readability-braces-around-statements,
        -google-readability-namespace-comments,
        -google-runtime-references,
        -misc-non-private-member-variables-in-classes,
        -modernize-avoid-c-arrays,
        -modernize-use-trailing-return-type,
        -readability-braces-around-statements,
        -readability-container-size-empty,
        -readability-magic-numbers,
        -readability-named-parameter,
        -readability-qualified-auto,
        '
...
